.contentFilterContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.contentFilterButtonsConatiner {
    margin-top: 0 !important; 
}

.contentFilterButton {
    color: rgb(33, 41, 52);
    font-size: 14px;
    text-transform: none;
    font-weight: 400px;
}

.enrollmentFilterContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-top: 10px; 
}